.navbar-header {
  text-align: center;
}

.navbar-header a.navbar-brand {
  padding: 1px;
  max-width: 30%;
  max-height: 100%;
  float: none;
  transform: translateX(-50%);
  left: 50%;
  /*position: absolute;*/
}

a.navbar-brand img {
  max-height: 100%;
  max-width: 30%;
}

@media screen and (min-width: 768px) {
  ul.nav {
    float: right;
  }
}

.wedo-logo-container {
  left: 0;
  right: 0;
}

.wedo-logo {
  width: 30%;
  margin-right: auto;
  margin-left: auto;
}

.wedo-menu-button {
  background-color: #f06424;
}

.wedo-banner {
  height: 100%;
}

.wedo-banner-image {
  max-height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -10;
}

.celular {
  height: 350px;
}

.celular img {
  height: 100%;
  width: initial;
}

@media screen and (max-width: 767px) {
  .celular-wrap {
      max-height: 250px;
  }
}

.botoes {
  width: 100%;
}

.quadro img {
  width: initial;
}

.parallax-window {
  min-height: 200px;
  background: transparent;
}

.separador-1 {
  height: 160px;
  background-image: url("../images/backgroundimage.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}


.separador-2 {
  height: 160px;
  background-image: url("../images/backgroundimage.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.how-grid-image img {
  border-radius: 100%;
}

.follow h3 {
  border: 0;
}

.follow h4 {
  color: white;
}

.gallery.clients {
  background-image: url("../images/shop.jpg");
}

.gallery-grids {
  width: 100%;
  padding: 10px;
}

.gallery-grids h3 {
  color: #F06424;
  padding: 10px;
}

.stats {
  padding: 35px;
}

.stats-grids {
  margin-top: 0;
}

.stats-grids span {
  margin: 25px 0 25px 0;
}

.clients h3 {
  color: #F06424;
}

.espaco {
  height: 50px;
}
